@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents side-scrolling */
  }
  

/*Start Collective*/
    .color_link {
        color: #BDC667;
        text-decoration: none !important;
        border-bottom: none;
        width: 100%;
    }

    .color_link:hover {
        text-decoration: underline !important;
        color: #000 !important;
        border-bottom: none;
    }
/*End Collective*/

/*Start AuthenticatedLayout*/
    .bg-navbar{
        background-color: #25612C;
        border-bottom: 0;
    }
    .link{
        text-decoration: none !important;
    }
  
    .logo{
        width: 60px;
    }
  
/*End AuthenticatedLayout*/

/*Start Lazio*/
    .lazio{
        background-color: #25612C;
        padding: 60px 0;
    }
    .lazio h1{
        color: #fff;
        margin: 0 !important;
    }
/*End Lazio*/

/*Strat Footer*/
  .bg-footer{
    background-color: #25612C;
  }
/*End Footer*/

/*End Collective*/

/*Start Media Query Smartphone*/
@media screen and (max-width: 440px) {

    /*Start Tablet */
    .mappa-tablet {
        display: none !important;
    }

    /*End Tablet*/
    /*Start Desktop*/
    .mappa-desktop {
        display: none !important;
    }
}

/*End */

/*Start Media Query Tablet*/
@media screen and (min-width: 441px) and (max-width: 800px) {

    /*Start Smartphone*/
    .mappa-smartphone {
        display: none !important;
    }
    /*End Smartphone*/

    /*Start Desktop*/
    .mappa-desktop {
        display: none !important;
    }
}

/*End*/

/*Inizio Media Query Desktop*/
@media screen and (min-width: 801px) {

    /*Inizio Smartphone*/
    .mappa-smartphone {
        display: none !important;
    }


    /*Fine Smartphone*/
    /*Inizio Tablet*/
    .mappa-tablet {
        display: none !important;
    }
}

/*End*/